:root {
    --orange: #fe6f2e;
    --green: #77d970;
    --lightgreen: #f0fcea;
    --blue: #00253e;
    --lightgrey: #f5f5f5;
    --darkteal: #02232a;
}


/* remember to consolidate all text etc that should be same color */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100vw;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    /* change this later */
    background-color: var(--darkteal);
    padding: 1rem 0 1rem 0;
    margin: 0;
}

nav ul {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    background-color: inherit;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--darkteal);
}

section {
    margin-bottom: 4rem;
}

footer {
    color: var(--darkteal);
    background-color: var(--lightgrey);
}

.logo {
    max-width: 120px;
    height: auto;
}

section.hero {
    margin-top: 0;
}

.hero {
    background-color: var(--darkteal);
    /* get rid of this later */
    height: 500px;
}

.hero>h2 {
    color: white;
    font-size: 3rem;
}

button.outline {
    color: white;
    background-color: transparent;
    border: solid 2px white;
    padding: 15px 32px;
}

button.solid {
    border: solid 2px var(--darkteal);
    color: white;
    background-color: var(--darkteal);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

article.info {
    color: var(--darkteal);
    border: solid 2px var(--darkteal);
    width: 40rem;
    margin: 0 auto 0 auto;
    padding: 2rem 6rem 2rem 6rem;
}

.info>h3 {
    text-align: center;
    margin-top: 0;
}

.info>p {
    color: var(--darkteal);
    line-height: 2rem;
}


/* This .caps is for accesibilty - some screen readers read all caps letter-by-letter */

.caps {
    text-transform: uppercase;
}

.selection-gallery-wrapper {
    background-color: var(--darkteal);
    height: 300px;
}

.faq-group {
    display: flex;
    gap: 1rem;
    margin: auto 8% auto 8%;
    padding: 2rem;
}

.faq-block {
    border: solid 1px var(--darkteal);
    padding: 0.5rem;
}

.faq-block>figure>* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.faq-block>figure {
    text-align: center;
    color: var(--darkteal);
}

.faq-block>figure>img {
    max-height: 100px;
    width: auto;
    color: var(--darkteal);
}

.footer-logo>a>img {
    max-width: 150px;
    height: auto;
    padding-top: 2rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
}

.SoMe-icons>a>img {
    max-height: 30px;
    height: auto;
}


/* dropdown menu */

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* product list view */

#cat-list {
    display: grid;
    column-gap: 2.5rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 2.5rem;
    display: grid;
    column-gap: 2.5rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
    margin: 0 2.5rem;
}

#cat-list h1 {
    grid-column: 1/-1;
    text-align: center;
}

#cat-list img {
    width: 100%;
}

#left-filters {
    grid-row: 3 / span 12;
}

.filters a,
.filters-top li {
    display: flex;
    align-items: center;
}

.filters-top ul {
    display: flex;
    justify-content: center;
}

.filters-top li {
    margin: 0 1.5rem;
    cursor: pointer;
}

.filters-top {
    grid-column: 1/-1;
    margin-bottom: 0rem;
}

.brand-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8rem;
    z-index: 1;
    top: 2.5rem;
    left: 0;
}

.brand-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.block {
    display: block;
}

.none {
    display: none;
}


/* styling for how-to page starts here */

.step-wrapper {
    display: flex;
}

.img-container {
    height: 100%;
    width: auto;
}

#img1 {
    background-image: url("../assets/");
}

#img2 {
    background-image: url("../assets/");
}

#img3 {
    background-image: url("../assets/");
}

#img4 {
    background-image: url("../assets/");
}

#img5 {
    background-image: url("../assets/");
}

#img6 {
    background-image: url("../assets/");
}

#img7 {
    background-image: url("../assets/");
}

#img8 {
    background-image: url("../assets/");
}

.title-h3 {
    font-size: 0.75rem;
    font-weight: 300;
    text-align: left;
    margin-top: 0;
}

.first-line {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.first-line h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.price {
    margin: 0.3rem;
}

.image {
    position: relative;
}

.heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
}


/* product page */

.breadcrumbs {
    display: flex;
    align-content: center;
    margin: 3rem 0 2rem 2rem;
}

.product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 1rem 10rem;
    justify-content: center;
}

.product-view img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-view h5 {
    margin-bottom: 0.3rem;
}

.prod-brand {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.prod-title {
    margin-top: 0.5rem;
}

.prod-price {
    margin-bottom: 3rem;
}

.sizes {
    display: flex;
    margin-top: 0;
    margin-left: -0.5rem;
}

.sizes div {
    border: solid 1px var(--darkteal);
    width: 2rem;
    padding: 0.3rem;
    text-align: center;
    margin: 0 0.5rem;
    cursor: pointer;
}

.sizes p {
    margin: 0;
}

.no-stock {
    border: solid 1px var(--lightgrey) !important;
    color: var(--lightgrey);
    cursor: default !important;
}

.pick-up {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border: solid 0.75px var(--darkteal);
    width: fit-content;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 0.75rem;
}

.pick-up p {
    margin: 0;
}

.pick-up span {
    margin-left: 2rem;
}

.buttons {
    display: flex;
    margin-top: 0.75rem;
}

.add-bag {
    color: var(--green);
    border: solid 2px var(--green);
    font-weight: 700;
    padding: 0.75rem 2rem;
    width: fit-content;
    margin: 0 !important;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: unset;
}

.fav {
    border: solid 1px var(--darkteal);
    padding: 0.75rem;
    margin-left: 1rem;
    line-height: inherit;
    cursor: pointer;
    align-self: center;
}

.descrip {
    width: 80%;
    margin-top: 3rem;
}

#also-like {
    position: relative;
    margin-top: 5rem;
}

.might-like {
    font-size: 2rem;
    font-family: "Lora", serif;
    text-align: center;
    text-transform: uppercase;
}

.black-bg {
    width: 100%;
    height: 20rem;
    background-color: var(--darkteal);
    position: absolute;
    z-index: -1;
    top: -4rem;
}

#also-like img {
    max-width: 250px;
}

.related-img {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}


/* mobile list */

@media (max-width: 850px) {
    .check-box {
        display: none;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        padding-left: 0;
    }
    .filters li {
        margin: 0.4rem;
        border: solid 1px black;
        padding: 0.3rem;
        border-radius: 0.2rem;
    }
    #left-filters {
        grid-column: 1/-1;
        grid-row: 2;
        justify-content: space-evenly;
    }
    .active {
        background-color: var(--orange);
        color: var(--lightgrey);
        border: none !important;
    }
    .filters-top ul {
        margin-left: 0;
        padding-left: 0;
    }
    .category-header {
        margin-bottom: 0;
        margin-top: 3rem;
    }
    .first-line h2,
    .first-line p {
        font-size: 1rem;
    }
    .product-view {
        margin: 1rem;
        grid-template-columns: 1fr;
    }
    .descrip {
        width: 100%;
    }
    .prod-price {
        font-size: 1.5rem;
    }
}