:root {
    --orange: #FE6F2E;
    --green: #77D970;
    --lightgreen: #F0FCEA;
    --blue: #00253E;
    --lightgrey: #F5F5F5;
    --darkteal: #02232A;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100vw;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    /* change this later */
    background-color: var(--darkteal);
    padding: 1rem 0 1rem 0;
    margin: 0;
}

nav ul {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    background-color: inherit;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--darkteal)
}

section {
    margin-bottom: 4rem;
}

footer {
    color: var(--darkteal);
    background-color: var(--lightgrey);
}

.logo {
    max-width: 120px;
    height: auto;
}

section.hero {
    margin-top: 0;
}

.hero {
    background-color: var(--darkteal);
    /* get rid of this later */
    height: 500px;
}

.hero>h2 {
    color: white;
    font-size: 3rem;
}

button.outline {
    color: white;
    background-color: transparent;
    border: solid 2px white;
    padding: 15px 32px;
}

button.solid {
    border: solid 2px var(--darkteal);
    color: white;
    background-color: var(--darkteal);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

article.info {
    color: var(--darkteal);
    border: solid 2px var(--darkteal);
    width: 40rem;
    margin: 0 auto 0 auto;
    padding: 2rem 6rem 2rem 6rem;
}

.info>h3 {
    text-align: center;
    margin-top: 0;
}

.info>p {
    color: var(--darkteal);
    line-height: 2rem;
}


/* This .caps is for accesibilty - some screen readers read all caps letter-by-letter */

.caps {
    text-transform: uppercase;
}

.selection-gallery-wrapper {
    background-color: var(--darkteal);
    height: 300px;
}

.faq-group {
    display: flex;
    gap: 1rem;
    margin: auto 8% auto 8%;
    padding: 2rem;
}

.faq-block {
    border: solid 1px var(--darkteal);
    padding: .5rem;
}

.faq-block>figure>* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.faq-block>figure {
    text-align: center;
    color: var(--darkteal);
}

.faq-block>figure>img {
    max-height: 100px;
    width: auto;
    color: var(--darkteal);
}

.footer-top-wrapper,
.footer-bottom-wrapper {
    display: flex;
    justify-content: space-around;
}

.SoMe-icons>a>img {
    max-height: 30px;
    height: auto;
}